In [1]:
import pandas as pd
import numpy as np

In [26]:
file = "Resources/purchase_data.csv"
heroes_df = pd.read_csv(file)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [15]:
df = heroes_df["SN"].unique()
len(df)

576

In [16]:
total_players = pd.DataFrame({
    "Total Players":[576]
})
total_players

   Total Players
0            576

# Purchasing Analysis

In [37]:
item_count = len(heroes_df["Item ID"].unique())
avg_price = heroes_df["Price"].mean()
purchases = heroes_df["Purchase ID"].count()
revenue = heroes_df["Price"].sum()

In [38]:
analysis_table = pd.DataFrame({"Number of Unique Items":[item_count],
                               "Average Price":[avg_price],
                               "Number of Purchase":[purchases],
                               "Total Revenue":[revenue]})
analysis_table

   Number of Unique Items  Average Price  Number of Purchase  Total Revenue
0                     183       3.050987                 780        2379.77

# Gender Demographics

In [35]:
gen_count = heroes_df.groupby('Gender')['SN'].nunique()
per_count = pd.DataFrame(gen_count)
per_count

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11

In [39]:
gen_dem = pd.DataFrame({
    "Gender":["Male", "Female", "Other/Non-Disclosed"],
    "Total Count":["484", "81", "11"],
    "Percentage of Players":["84.03%", "14.06%", "1.91%"]
})
gen_dem

                Gender Total Count Percentage of Players
0                 Male         484                84.03%
1               Female          81                14.06%
2  Other/Non-Disclosed          11                 1.91%

# Purchasing Analysis